/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*::after, *::before {
  content: '';
}

body {
  font-size: 100%;
  font-family: "PT Sans", sans-serif;
  color: #f8f7ee;
  background-color: #29324e;
}

a {
  color: #f05451;
  text-decoration: none;
}

header {
  position: relative;
  height: 160px;
  line-height: 180px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header h1 {
  font-size: 20px;
  font-size: 1.25rem;
}
@media only screen and (min-width: 768px) {
  header {
    height: 200px;
    line-height: 225px;
  }
  header h1 {
    font-size: 26px;
    font-size: 1.625rem;
  }
}
